{% load static %}

<table class="table">
                  <thead>
                    <tr>
                      <th> </th>
                      <th>Name</th>
                      <th>Employees ID</th>
                      <th>Email ID</th>
                      <th>Joining  Date</th>
                      <th>Role </th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="inbox-data">
                      <td> </td>
                      <td>
                        <div class="common-flex align-items-center"><img class="img-fluid rounded-circle" src="{% static 'assets/images/dashboard-11/user/12.jpg' %}" alt="user"><a class="f-w-500" href="#!">Wade Warren</a></div>
                      </td>
                      <td>#45812</td>
                      <td>wade.warr@co.in</td>
                      <td>20 Jun,2024</td>
                      <td>Web Designer</td>
                      <td>
                        <div class="common-align gap-2 justify-content-start">
                          <div class="square-white">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-pen"></use>
                            </svg>
                          </div>
                          <div class="square-white trash-3">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-trash"> </use>
                            </svg>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="inbox-data">
                      <td> </td>
                      <td>
                        <div class="common-flex align-items-center"><img class="img-fluid rounded-circle" src="{% static 'assets/images/dashboard/user/6.jpg' %}" alt="user"><a class="f-w-500" href="#!">Michael Mit</a></div>
                      </td>
                      <td>#58698</td>
                      <td>michael.mit@co.in</td>
                      <td>10 Dec,2024</td>
                      <td>UI Designer</td>
                      <td>
                        <div class="common-align gap-2 justify-content-start">
                          <div class="square-white">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-pen"></use>
                            </svg>
                          </div>
                          <div class="square-white trash-3">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-trash"> </use>
                            </svg>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="inbox-data">
                      <td> </td>
                      <td>
                        <div class="common-flex align-items-center"><img class="img-fluid rounded-circle" src="{% static 'assets/images/dashboard-11/user/8.jpg' %}" alt="user"><a class="f-w-500" href="#!">Jenny Wilson</a></div>
                      </td>
                      <td>#320148</td>
                      <td>jenny.wilson@co.in</td>
                      <td>13 May,2024</td>
                      <td>Researcher</td>
                      <td>
                        <div class="common-align gap-2 justify-content-start">
                          <div class="square-white">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-pen"></use>
                            </svg>
                          </div>
                          <div class="square-white trash-3">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-trash"> </use>
                            </svg>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="inbox-data">
                      <td> </td>
                      <td>
                        <div class="common-flex align-items-center"><img class="img-fluid rounded-circle" src="{% static 'assets/images/dashboard-11/user/3.jpg' %}" alt="user"><a class="f-w-500" href="#!">Guy Hawkins</a></div>
                      </td>
                      <td>#874264</td>
                      <td>guy.hawkins@co.in</td>
                      <td>17 Oct,2024</td>
                      <td>App Developer</td>
                      <td>
                        <div class="common-align gap-2 justify-content-start">
                          <div class="square-white">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-pen"></use>
                            </svg>
                          </div>
                          <div class="square-white trash-3">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-trash"> </use>
                            </svg>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="inbox-data">
                      <td> </td>
                      <td>
                        <div class="common-flex align-items-center"><img class="img-fluid rounded-circle" src="{% static 'assets/images/dashboard-9/user/2.png'  %}" alt="user"><a class="f-w-500" href="#!">Esther Howard</a></div>
                      </td>
                      <td>#200148</td>
                      <td>esther.howard@co.in</td>
                      <td>22 Jan,2024</td>
                      <td>Graphic Designer</td>
                      <td>
                        <div class="common-align gap-2 justify-content-start">
                          <div class="square-white">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-pen"></use>
                            </svg>
                          </div>
                          <div class="square-white trash-3">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-trash"> </use>
                            </svg>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="inbox-data">
                      <td> </td>
                      <td>
                        <div class="common-flex align-items-center"><img class="img-fluid rounded-circle" src="{% static 'assets/images/dashboard-9/user/5.png'  %}" alt="user"><a class="f-w-500" href="#!">Jacob Jones</a></div>
                      </td>
                      <td>#985367</td>
                      <td>jacob.jones@co.in</td>
                      <td>20 Apr,2024</td>
                      <td>App Developer</td>
                      <td>
                        <div class="common-align gap-2 justify-content-start">
                          <div class="square-white">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-pen"></use>
                            </svg>
                          </div>
                          <div class="square-white trash-3">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-trash"> </use>
                            </svg>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="inbox-data">
                      <td> </td>
                      <td>
                        <div class="common-flex align-items-center"><img class="img-fluid rounded-circle" src="{% static 'assets/images/dashboard-9/user/3.png'  %}" alt="user"><a class="f-w-500" href="#!">Arlene McCoy</a></div>
                      </td>
                      <td>#45812</td>
                      <td>arlene.mccoy@co.in</td>
                      <td>02 Mar,2024</td>
                      <td>Web Designer</td>
                      <td>
                        <div class="common-align gap-2 justify-content-start">
                          <div class="square-white">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-pen"></use>
                            </svg>
                          </div>
                          <div class="square-white trash-3">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-trash"> </use>
                            </svg>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="inbox-data">
                      <td> </td>
                      <td>
                        <div class="common-flex align-items-center"><img class="img-fluid rounded-circle" src="{% static 'assets/images/dashboard-9/user/1.png'  %}" alt="user"><a class="f-w-500" href="#!">Robert Fox</a></div>
                      </td>
                      <td>#589654</td>
                      <td>robert.fox@co.in</td>
                      <td>12 Feb,2024</td>
                      <td>JS Developer </td>
                      <td>
                        <div class="common-align gap-2 justify-content-start">
                          <div class="square-white">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-pen"></use>
                            </svg>
                          </div>
                          <div class="square-white trash-3">
                            <svg>
                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#hr-trash"> </use>
                            </svg>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
