{% extends 'layouts/themes/01/header.html' %}

{% block content %}
    <div class="row starter-main">
              <div class="col-sm-12">

              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h5>With Header</h5>
                  </div>
                  <div class="card-body">
                    <h5>Content title</h5>
                    <p>Add a heading to card with <code>.card-header</code> class</p>
                    <p>You may also include any &lt;h1&gt;-&lt;h6&gt; with a <code>.card-header </code> & <code>.card-title</code> class to add heading.</p>
                    <p>While there is no right or incorrect response, a professional designer should be well-versed in UX and be able to provide a complete end-to-end UX design process.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header card-no-border">
                    <h5>With Header & No Border</h5>
                  </div>
                  <div class="card-body">
                    <h5>Content title</h5>
                    <p>Add a heading to card with <code>.card-header </code> class & without header border<code>.border-bottom-0</code> class.</p>
                    <p>You may also include any &lt;h1&gt;-&lt;h6&gt; with a <code>.card-header </code> & <code>.card-title</code> class to add heading.</p>
                    <p>Gingerbread brownie sweet roll cheesecake chocolate cake jelly beans marzipan gummies dessert. Jelly beans sugar plum cheesecake cookie oat cake soufflé.</p>
                  </div>
                </div>
              </div>
    </div>
{% endblock content %}