{% extends 'layouts/themes/01/header.html' %}

{% load static %}

{% block content %}
    <div class="row starter-main">
              <div class="col-sm-12">

              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h5>With Header</h5>
                  </div>
                  <div class="card-body">
                    <h5>Content title</h5>
                    <p>Add a heading to card with <code>.card-header</code> class</p>
                    <p>You may also include any &lt;h1&gt;-&lt;h6&gt; with a <code>.card-header </code> & <code>.card-title</code> class to add heading.</p>
                    <p>While there is no right or incorrect response, a professional designer should be well-versed in UX and be able to provide a complete end-to-end UX design process.</p>
                  </div>
                </div>
              </div>
    </div>
<div class="modal fade modal-bookmark" id="newEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="newEquipmentModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content custom-input">
            <div class="modal-header">
              <h5 class="modal-title" id="newEquipmentModalLabel">Add Equipment</h5>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-bookmark needs-validation" id="newEquipmentForm" novalidate="">
                    <div class="row">
                        <div class="mb-3 mt-0 col-md-6">
                            <select class="selectpicker search-picker" aria-label="Group" data-live-search="true">
                              <option value="task" selected>My Task</option>
                            </select>
                        </div>
                        <div class="mb-3 mt-0 col-md-6">
                            <select class="selectpicker search-picker" aria-label="Group" data-live-search="true">
                              <option value="general" selected>General</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}