{% extends 'layouts/themes/login/base.html' %}

{% load static %}

{% block content %}
    <div>
      <div><a class="logo" href="#"><img class="img-fluid for-light" src="{% static 'assets/images/logo/logo.png' %}" alt="looginpage"><img class="img-fluid for-dark" src="{% static 'assets/images/logo/logo_dark.png' %}" alt="looginpage"></a></div>
      <div class="login-main">
        <form class="theme-form">
          <h4>Sign in to account</h4>
          <p>Enter your email & password to login</p>
          <div class="form-group">
            <label class="col-form-label">Email Address</label>
            <input class="form-control" type="email" name="login_username" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Password</label>
            <div class="form-input position-relative">
              <input class="form-control" type="password" name="login_password" required>
              <div class="show-hide"><span class="show"></span></div>
            </div>
          </div>
          <div class="form-group mb-0">
            <div class="checkbox p-0">
              <input id="checkbox1" type="checkbox">
              <label class="text-muted" for="checkbox1">Remember password</label>
            </div><a class="link" href="/forget_password">Forgot password?</a>
            <div class="text-end mt-3">
              <button class="btn btn-primary btn-block w-100" type="submit">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}
